<%= link_to article_path(article), class: "no-underline" do %>
	<div class='col-md-4'>
		<div class='article-thumbnail card'>
			<%= image_tag article.image.url(:thumb) %>
			<h1><%= article.short_title %></h1>
      <div class='sub'>
        <div class='date'><%= article.created_at.strftime("%m/%d/%Y") %></div>
        <div class='author'><%= article.author_name %></div>
      </div>
		</div>
	</div>
<% end %>