<%= form_for @article, :html => {:multipart => true} do |f| %>
  <p>
    <%= f.text_field :title, :class => 'form-control', :placeholder => 'Title' %><br />
  </p>

  <p>
    <%= f.text_field :author_name, :class => 'form-control', :placeholder => 'Author Name' %><br />
  </p>

  <p>
    <%= f.select(:category_id, @categories.map{ |c| [c.name, c.id] }, {}, :class => 'form-control') %>
  </p>

  <p>
    <%= f.label :image %><br />
    <%= f.file_field :image %><br />
    <%= "Note: Only reupload for image change" unless @article.new_record? %>
  </p>

  <p>
    <%= f.text_area :text, :class => 'form-control', :placeholder => 'Body of the article...' %><br />
  </p>

  <p>
    <%= f.submit :class => 'btn btn-default' %>
  </p>
<% end %>