<% if can? :update, @article  %>
  <%= link_to edit_article_path(@article), class: "no-underline"  do %>
    <div class='edit'>
      Edit
    </div>
  <% end %>
<% end %>
<article class='card'>
  <h1><%= object.title %></h1>
  <hr />
  <% if object.image.exists? %>
    <%= image_tag object.image.url(:medium), :class => "main" %>
    <div class='caption'>
      <%= object.caption %>
    </div>
  <hr class='divider' />
  <% end %>
  <div class="body">
    <%= render_markdown object.text %>
  </div>
  <hr class="bottom" />
  <div class='sub'>by <%= object.author_name %> on <%= object.created_at.strftime("%_m/%-d/%Y") %></div>
</article>
