<article class='card'>
	<h1><%= @article.title %></h1>
	<hr />
	<% if @article.image.exists? %>
		<%= image_tag @article.image.url(:medium), :class => "main" %>
  <hr class='divider' />
	<% end %>
  <div class="body">
  	<%= render_markdown @article.text %>
  </div>
  <hr />
	<div class='sub'>by <%= @article.author_name %> on <%= @article.created_at.strftime("%m/%d/%Y") %></div>
</article>

<div id='article-comments'>
	<h1>Comments</h1>
	<hr />
	<%= render @article.comments %>
	<div class="new-comment">
		<%= form_for :comment, url: comments_path, :html => {class: "form-inline"} do |f| %>
			<%= f.hidden_field :article_id, :value => @article.id %>
			<div class='top-section'>
				<%= f.text_field :name, {class: "form-control narrow", placeholder: "Name"} %>
				<%= f.email_field :email, {class: "form-control narrow", placeholder: "Email"} %>
			</div>
			<%= f.text_area :body, {class: "form-control", rows: "5", placeholder: "Add a comment"} %>
			<button class='btn btn-default btn-ma'>Comment</button>
		<% end %>
	</div>
</div>

<div id='article-similar'>
	<h1>Further Reading</h1>
	<hr />
	<div class='row'>
		<%= render @similar_articles %>
	</div>
</div>

<br />
<br />
<br />
