<!DOCTYPE html>
<html>
<head>
  <title>M-A Bear News</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='container'>
		<header><%= link_to root_path do %><h1>M-A Bear News</h1><% end %></header>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<div class='row'>
			<div class='col-md-2'>
				<ul class='nav nav-pills nav-stacked'>
					<li <% unless @current_category %>class='active'<% end %>><%= link_to "Most Recent", root_path %></li>
					<% @categories.each do |c| %>
						<li <% if c == @current_category %>class='active'<% end %>><%= link_to c.name, category_path(c) %></li>
					<% end %>
				</ul>
			</div>
			<div class='col-md-10 col-lg-8'>
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
