<!DOCTYPE html>
<html>
<head>
  <title>M-A Bear News</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
	<div class='container'>
		<header><%= link_to root_path do %><h1>M-A Bear News</h1><% end %></header>
		<% if notice %>
			<p class="notice"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert"><%= alert %></p>
		<% end %>
		<div class='row'>
			<div class='col-md-2'>
				<ul class='nav nav-pills nav-stacked'>
					<li <% unless @current_category %>class='active'<% end %>><%= link_to "Most Recent", root_path %></li>
					<% @categories.each do |c| %>
						<li <% if c == @current_category %>class='active'<% end %>><%= link_to c.name, category_path(c) %></li>
					<% end %>
				</ul>
			</div>
			<div class='col-md-10 col-lg-8'>
				<%= yield %>
			</div>
		</div>
	</div>
	<footer>
		<ul>
			<li>&copy; Menlo-Atherton High School. All Rights Reserved.</li>
			<% if user_signed_in? %>
				<li>Signed In as <strong><%= current_user.email %></strong></li>
				<li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
			<% else %>
				<li><%= link_to "Log In", new_user_session_path %></li>
			<% end %>
		</ul>
	</footer>
	<script type="text/javascript">
		$(window).scroll(function() {
			if ($('footer').offset().top > $('body').height()) $('footer').addClass('slideUp');
			else $('footer').removeClass('slideUp');
		})
	</script>
</body>
</html>
