<!DOCTYPE html>
<html>
<head>
  <title>M-A Bear News</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
  <header>
    <div class='top-bar hidden-xs'>
      <%= link_to root_path do %>
        <h1 class='pull-left'>M-A Bear News</h1>
      <% end %>
      <ul>
        <li> <%= link_to "Most Recent", root_path, :class => @current_category ? '' : 'active'%> </li>
        <% @categories.each do |c| %>
          <li><%= link_to c.name, category_path(c), :class => (c == @current_category) ? 'active' : '' %></li>
        <% end %>
      </ul>
    </div>
  </header>
  <header>
    <div class='visible-xs'>
      <%= link_to root_path do %><h1>M-A Bear News</h1><% end %>
    </div>
  </header>
  <% if current_page?(root_path) %>
    <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel" data-pause="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% @headlines.each_with_index do |h, index| %>
          <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" <% if index == 0 %>class="active"<% end %>></li>
        <% end %>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% @headlines.each_with_index do |h, index| %>
          <div class="item<% if index == 0 %> active<% end %>">
            <%= link_to article_path(h), class: "no-underline" do %>
              <%= image_tag h.image.url %>
            <% end %>
            <div class="carousel-caption">
               <h3><%= h.title %></h3>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  <% end %>
  <% if notice %>
    <div class="notice alert alert-success animated slideOutUp"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="alert alert-warning animated slideOutUp"><%= alert %></div>
  <% end %>
  <div class="container allow-for-top-bar">
    <div class='row'>
      <div>
        <ul class='nav nav-pills nav-stacked visible-xs'>
          <li <% unless @current_category %>class='active'<% end %>><%= link_to "Most Recent", root_path %></li>
          <% @categories.each do |c| %>
            <li <% if c == @current_category %>class='active'<% end %>><%= link_to c.name, category_path(c) %></li>
          <% end %>
        </ul>
      </div>
      <div class='col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2'>
        <%= yield %>
      </div>
    </div>
  </div>
  <footer class="hidden-xs">
    <ul>
      <li>&copy; 2014 Menlo-Atherton High School. All Rights Reserved.</li>
      <% if user_signed_in? %>
        <li>Signed In as <strong><%= current_user.email %></strong></li>
        <% if current_user.writer? %>
          <li><%= link_to "Dashboard", contributor_drafts_path %></li>
        <% end %>
        <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Log In", new_user_session_path %></li>
      <% end %>
    </ul>
  </footer>
  <footer class="visible-xs">
    2014 &copy;, Menlo-Atherton High School. All Right Reserverd.
  </footer>
  <a href="#"><div class="scroll-up"> up </div></a>
</body>
</html>
